.contact{
    overflow-x: hidden;
}

.contact-heading {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}


.heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color:rgb(235, 114, 0);
}



.contact-container{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    font-size: 1.3em;
}

.contact-inputs{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    align-items: start;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

label {
    margin-bottom: 10px;
}

.form-field input[type="text"],
.form-field input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff651ee1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

input::placeholder,
textarea::placeholder {
    color: #999; 
    font-family: 'poppins';
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #ff651ee1; 
    outline : none;
}
input[type="submit"]:hover {
    background-color: #ff9100;
    transform: scale(1.1);

}

iframe{
    margin-top: 5rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

iframe:focus {
    outline: none !important;
    /* Add your own custom outline style */
    border: 2px solid #ff651e; /* Example custom outline style */
    box-shadow: 0 0 5px rgba(255, 101, 30, 0.5); /* Example custom outline shadow */
}

.contact-details {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-details .box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details .around {
    background-color: #ff651ee1;
    border-radius: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
}
.contact-details .icon {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

.base{
    margin-top: 1.5rem;
}

.box .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.base p{
    color: #6e6c6be1;
}
